.life-meter {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
    font-size: $game-stats-font-size;

}
.bars {
    width: 560px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-gap: 8px;
}

.bar {
    border: 1px solid white;
    background-color: $meter;
}