@font-face {
    font-family: 'Star Jedi';
    src: url('../fonts/starjedi-webfont.woff2') format('woff2'),
    url('../fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, button {
    font-family: $body-font;
    color: white;
}