
$body-font: 'Orbitron', sans-serif;
$opening-font: 'Libre Franklin' sans-serif;
$title-font: 'Star Jedi', sans-serif;
$game-stats-font-size: 1.7em;

$galaxy: #00acd8;
$button: #ae659d;
$highlight: #f0b084;
$meter: #b62321;

$page-transition: transform 1.2s ease-out;